{% extends 'partials/base.html'%}
{% load static %}
{% block content %}

<!-- Shopping Cart -->
    <div class="product-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="product-details-thumb">
                        <img src="{{product.image.url}}" alt="Product Image">
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="product-details-content">
                        <h2 >{{ product.title }}</h2>
                        <div class="price">
                            <span>₱</span><span class="product-price-{{ p.id }}">{{ product.price }}</span>
                        </div>
                        <div class="description">    
                            <!-- needs to be changed the class similar to index classes for add-to-cart js functionality -->
                            <h4>Description:</h4>
                            <p>{{ product.description|truncatechars:100 }}</p>
                        </div>
                        <div class="description">
                            <h4>Type</h4>
                            <p>{{ product.type }}</p>
                        </div>
                        <div class="description">
                            <h4>Stock/s Left:</h4>
                            <p>{{ product.stock_count }}</p>
                        </div>
                        <div class="product-details-quantity">
                            <h4>Quantity:</h4>
                            <!-- <div class="cart-plus-minus"> -->
                                <br>
                                <input class="cart-plus-minus-box product-quantity-{{ product.id }}" type="number" name="qtybutton" value="1" id="product-quantity">
                                <br>
                                <br>
                            <!-- </div> -->
                        </div>
                        <div class="product-details-cart">
                        
                            <!-- <form id="add-to-cart-form"> -->
                                <!-- <input type="hidden" class="product-id" value='{{ product.id }}'>
                                <input type="hidden" class="product-title" value='{{ product.title }}'> -->
                                <!-- <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ product.id }}"> -->
                                <input type="hidden" class="product-pid-{{ product.id }}" value="{{ product.pid }}">
                                <input type="hidden" class="product-image-{{ product.id }}" value="{{ product.image.url }}">
                                <input type="hidden" class="product-id-{{ product.id }}" value="{{product.id}}">
                                <input type="hidden" class="product-title-{{ product.id }}" value="{{product.title}}">
                                <button type="submit" class="add-to-cart-btn" data-index="{{ product.id }}" id="add-to-cart-btn">Add to Cart</button>
                            <!-- </form> -->
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!--/ End Shopping Cart -->

{% endblock content %}